html{
    padding: 0%;
    margin: 0%;

}

.principal{
    background-color:red;
    height: 100px;
    overflow: hidden;
    transition: height 2s ease;
}
.secondaire{
    background-color: blue;
    height: 50px;
}

.active{
    height: 250px;
}