/* CSS basique*/
*{
    margin:0;
    padding:0;
    font-family: Georgia, serif;
    color:white;
}
body{
    background-color: white;
}

/* Header et navbar*/
header{
    width: 100%;
    height: 60px;
    background-color: #111761;
    font-size: 20px;
    padding:20px auto;
}
header h2{
    width: 280px;
    height: 35px;
    display: inline-block;
    margin-top: 12px;
    position: relative;
    left:25px;
    
}
nav{
    width: 350px;
    height: 25px;
    display: inline-block;
    float: right;
    margin-top: 20px;

}

header li {
    display: inline-block;
    
    
}
header ul{
    word-spacing: 20px;
    letter-spacing: 2px;
}

/* Main */

main{
    margin-top: 50px;
    margin-bottom: 100px;
    position: relative;
    width: 80%;
    height: 550px;
    left:10%;
    background-color: #DEE1F4;
}

main h1{
    text-align: center;
    color:#111761;
}
main img{
    position: relative;
    margin-left: 37% ;
    background-color: white;
    top:2%;
}

main p{
    font-size: 20px;
    text-align: center;
    width: 50%;
    position: relative;
    top:5%;
    margin-left: 25%;
    color:#111761;
}

/* 3 picture */

.picture{
    width: 100%;
    height:550px;
    display: inline-flex;
    justify-content: space-around;
    margin-bottom: 100px;
    
}
.picture h2{
    color:#111761;
    text-align: center;
}
.picture .des{
    color:#111761;
    margin-top: 25px;
}
.picture img{
    margin-left: 12.5%;
    margin-top: 15px;
}

#first, #second, #third{
    background-color: #DEE1F4;
    width: 450px;
    height: 100%;
    
}


/* Footer */

footer{
    width: 100%;
    background-color: #111761;
    height:120px;
}
footer ul {
    height: 85%;
    margin-left: 50px;
    letter-spacing: 3px;
    padding-top: 25px;
    display: inline-block;
}

footer li{
    padding-top: 5px;
}

footer p {
    display: inline-block;
    margin-left: 12.5%;
    background-color: red;
    
}



